<%= form_with(model: User.new, scope: :recipe, url: user_recipes_path) do |form| %>
  <% if form.object.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Recipe Name", style: "display: block", for: "recipe_name" %>
    <%= form.text_field :name, id: "recipe_name" %>
  </div>

  <div class="field">
    <%= form.label :preparation_time, "Preparation Time (minutes)", style: "display: block" %>
    <%= form.number_field :preparation_time %>
  </div>

  <div class="field">
    <%= form.label :cooking_time, "Cooking Time (minutes)", style: "display: block" %>
    <%= form.number_field :cooking_time %>
  </div>

  <div class="field">
    <%= form.label :description, "Description", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :public, "Make this recipe public?", style: "display: block" %>
    <%= form.check_box :public, class:"form-check-input", role: "switch" %>
  </div>

  <%= form.hidden_field :user_id %>

  <div class="actions mt-3">
    <%= form.submit %>
  </div>
<% end %>