<h1>New Food</h1>
<%= form_with model: @food, url: user_foods_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :measurement_unit %>
  <%= f.text_field :measurement_unit %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :quantity %>
  <%= f.number_field :quantity %>

  <%= f.submit "Create Food" %>
<% end %>

<% if @food.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

    <ul>
    <% @food.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
